<!DOCTYPE html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59952977-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-59952977-3');
    </script>
    
    <meta name="viewport" project="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" project="ie=edge">
    <meta content="Jan Plazovnik" property="og:site_name">
    <meta content="Jan Plazovnik" property="og:title">
    <meta content="Web developer. Programmer." property="og:description">
    <title>Jan Plazovnik</title>
    <link rel="icon" type="image/png" sizes="32x32" href="media/favicon/favicon32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="media/favicon/favicon16.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>
    <div id="top" class="landing noselect">
        <h1 class="animated fadeInDown slow">Jan Plazovnik</h1>
        <p class="animated zoomIn slow"><span class="txt-rotate" data-period="2000"
                data-rotate='["Web developer.", "Programmer."]'></span></p>
        <div class="animated fadeInUp slow scroll-down svg" id="home-scroll-down">
            <a href="#about" class="down">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Layer_2" x="0px" y="0px" viewBox="0 0 25.166666 37.8704414"
                    enable-background="new 0 0 25.166666 37.8704414" xml:space="preserve">
                    <path class="stroke" fill="none" stroke="#bee6f7" stroke-width="2.5" stroke-miterlimit="10"
                        d="M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z">
                    </path>
                    <path class="scroller" fill="#bee6f7"
                        d="M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z">
                    </path>
                </svg><i class="icon icon-arrow-down"></i>
            </a>
        </div>
    </div>
    <nav id="navbar" class="navigation noselect">
        <div class="container">
            <ul>
                <li><a href="#top">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="right"><i class="fas fa-envelope"></i> <a
                        href="mailto:jan.plazovnik@gmail.com">jan.plazovnik@gmail.com</a></li>
            </ul>
        </div>
    </nav>
    <div id="about" class="fw-section bg-shade">
        <div class="container">
            <div class="about">
                <div class="col-1">
                    <div class="about-title">About</div>
                    <div class="about-body">
                        <p>I'm <span class="accent lobster">Jan</span> and I do stuff on the web, check out <a
                            href="#projects" class="accent">my work</a> below.
                        I come from Slovenia and I'm <span class="age">20</span> years old.
                        My hobbies include making web apps, playing games, watching <a
                            href="https://www.tvtime.com/en/user/3768008/profile" class="accent" target="blank">TV
                            shows</a> and occasionally coding Discord bots.</p>
                    </div>
                    <div class="socials">
                        <ul>
                            <li><a href="https://www.facebook.com/jan.plazovnik" target="blank"><i
                                        class="fab fa-facebook"></i></a></li> <!-- facebook -->
                            <li><a href="https://www.instagram.com/plazovnikjan" target="blank"><i
                                        class="fab fa-instagram"></i></a></li> <!-- instagram -->
                            <li><a href="https://twitter.com/JPlazovnik" target="blank"><i
                                        class="fab fa-twitter"></i></a></li> <!-- twitter -->
                            <li><a href="https://github.com/janplazovnik" target="blank"><i
                                        class="fab fa-github"></i></a></li> <!-- github -->
                            <li><a href="https://www.youtube.com/channel/UCAgLuEdO2WLAKUEKG9itHxg" target="blank"><i
                                        class="fab fa-youtube"></i></a></li> <!-- youtube -->
                            <li class="right"><a download href="media/files/CV-Europass-20181005-Plazovnik-EN.pdf"
                                    class="downloadcv noselect" target="blank"><i class="fas fa-download"></i> Download
                                    CV</a></li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-2 half noselect">
                    <section class="skills">
                        <div class="skill">
                            <h3 class="skill__type">HTML</h3>
                            <div class="skill__outer-bar">
                                <div class="skill__inner-bar skill__inner-bar--90"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <h3 class="skill__type">JS</h3>
                            <div class="skill__outer-bar">
                                <div class="skill__inner-bar skill__inner-bar--55"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <h3 class="skill__type">CSS</h3>
                            <div class="skill__outer-bar">
                                <div class="skill__inner-bar skill__inner-bar--85"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <h3 class="skill__type">PHP</h3>
                            <div class="skill__outer-bar">
                                <div class="skill__inner-bar skill__inner-bar--45"></div>
                            </div>
                        </div>
                    </section>
                </div>
                -->
            </div>
        </div>
    </div>

    <div id="projects" class="fw-section bg-white noselect">
        <div class="container">
            <h1 class="projects-title">My projects</h1>
            <div class="card-row" v-for="(pp, index) in projects">
                <div v-for="(project, index2) in pp"
                    @click="projectClick(project, index, index2)"
                    :class="[getProjectClass(project, index, index2)]"
                    >
                    <div v-if="project.expanded" class="js-project-view">
                        <div class="js-project-view-title">
                            <a :href="project.url" target="blank">
                                {{project.name}}
                            </a>
                        </div>
                        <div class="js-project-view-description" v-html="project.description">
                        </div>
                        <div class="js-project-view-tools">
                            <i :class="'devicon-' + tool + '-plain'" v-for="tool in project.tools"></i>
                        </div>
                        <div v-if="project.unfinished" class="js-project-view-warning">Unfinished</div>
                    </div>
                    <div v-if="!project.expanded">
                        <div class="project-overlay"></div>
                        <img :src="project.image" alt="Project" class="project-image">
                        <div class="project-details fadeIn-bottom">
                            <h3 class="project-title">{{project.name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="fw-section bg-blue noselect">
        <div class="container">
            <h1 class="projects-title">Contact me</h1>
            <form class="contact" action="https://formspree.io/jan.plazovnik@gmail.com" method="POST">
                <div class="col-2 half">
                    <label for="name">First name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name" required>

                    <label for="surname">Last name:</label>
                    <input type="text" name="surname" id="surname" placeholder="Enter your last name" required>

                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email" required>
                </div>
                <div class="col-2 half">
                    <label for="message">Message:</label>
                    <textarea name="message" id="message" placeholder="Write a short message" required></textarea>
                    <button type="submit" class="btn"><i class="fas fa-paper-plane"></i> Send</button>
                </div>
            </form>
        </div>
    </div>
    <div id="footer" class="footer fw-section bg-footer noselect">
        <div class="container container-flex">
            <div class="footer-wrapper">
                <p>Jan Plazovnik &copy; 2020</p>
                <div class="footer-social">
                    <ul>
                        <li><a href="https://www.facebook.com/jan.plazovnik" target="blank"><i
                                    class="fab fa-facebook"></i></a></li> <!-- facebook -->
                        <li><a href="https://www.instagram.com/plazovnikjan" target="blank"><i
                                    class="fab fa-instagram"></i></a></li> <!-- instagram -->
                        <li><a href="https://twitter.com/JPlazovnik" target="blank"><i class="fab fa-twitter"></i></a>
                        </li> <!-- twitter -->
                        <li><a href="https://github.com/janplazovnik" target="blank"><i class="fab fa-github"></i></a>
                        </li> <!-- github -->
                        <li><a href="https://www.youtube.com/channel/UCAgLuEdO2WLAKUEKG9itHxg" target="blank"
                                style="margin: 0"><i class="fab fa-youtube"></i></a></li> <!-- youtube -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
    var app = new Vue({
        el: '#projects',
        data() {
            return {
                projects: [[{
                    name: "Hiragana Practice",
                    description: "A quiz-like training site for learning Japanese hiragana.",
                    tools: ['html5', 'css3', 'javascript'],
                    url: "https://github.com/JanPlazovnik/Hiragana",
                    image: 'media/project_hiragana.png'
                },
                {
                    name: "Node Stories",
                    description: "A site where users can share stories about places they've been to.",
                    tools: ['html5', 'css3', 'bootstrap', 'javascript', 'nodejs'],
                    url: "https://github.com/JanPlazovnik/node-stories",
                    image: 'media/project_nodestories.png'
                }],
                [{
                    name: "Simulator Site",
                    description: "A presentation site for a driving simulator.",
                    tools: ['html5', 'css3', 'bootstrap', 'javascript', 'nodejs'],
                    url: "https://github.com/JanPlazovnik/simulator",
                    unfinished: true,
                    image: 'media/project_simulator.png'
                },
                {
                    name: "Imgix",
                    description: "A simple Imgur clone made as a school project.",
                    tools: ['html5', 'css3', 'javascript', 'php'],
                    url: "https://github.com/JanPlazovnik/imgshare",
                    image: 'media/project_imgshare.png'
                }],
                [{
                    name: "Would You Rather",
                    description: "A C# Would You Rather game.",
                    tools: ['csharp'],
                    url: "https://github.com/JanPlazovnik/WouldYouRather",
                    image: 'media/project_wyr.png'
                },
                {
                    name: "Global News Feed 2.0",
                    description: "A site for viewing the latest top news from <del>around the world</del> <ins>Slovenia</ins>.",
                    tools: ['html5', 'css3', 'javascript', 'nodejs'],
                    url: "https://github.com/JanPlazovnik/globalnewsfeed",
                    image: 'media/project_news.png'
                }],
                [{
                    name: 'Youtube Clone',
                    description: "A YouTube clone that I made as a school project. Includes the basic features every video sharing site should have.",
                    tools: ['ruby', 'sass', 'javascript', 'amazonwebservices'],
                    image: 'media/project_yt.png'
                }]]
            };
        },
        methods: {
            getProjectClass(project, index, index2) {
                let otherProject = this.projects[index][1 - index2];
                if(window.innerWidth > 768) {
                    if (otherProject && otherProject.expanded && project.expanded) {
                        otherProject.expanded = false;
                    }
                    if (otherProject && otherProject.expanded) {
                        return 'card project js-col-0';
                    }
                    if (project.expanded) {
                        return 'card project col-1';
                    }
                }
                return 'card project col-2';
            },
            projectClick(project) {
                project.expanded = !project.expanded;
                this.$forceUpdate();
            }
        },
    });
        $(window).on('load', () => {
            $('a[href*="#"]')
                .not('[href="#"]')
                .not('[href="#0"]')
                .not('[href="#popup"]')
                .click(function (event) {
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                    ) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top - (($(window).width() > 480) ? ($('nav').height()) : 0)
                            }, 800);
                        }
                    }
                });
                
            $(window).scroll(function () {
                if ($(window).scrollTop() >= $(window).height()) {
                    $('nav').addClass('fixed-header');
                    $('#about').css("margin-top", $('nav').height());
                }
                else {
                    $('nav').removeClass('fixed-header');
                    $('#about').css("margin-top", 0);
                }
            });
        });
    </script>
    <script>
        var TxtRotate = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };
        TxtRotate.prototype.tick = function () {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

            var that = this;
            var delta = 300 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function () {
                that.tick();
            }, delta);
        };

        window.onload = function () {
            var elements = document.getElementsByClassName('txt-rotate');
            for (var i = 0; i < elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-rotate');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtRotate(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
            document.body.appendChild(css);
        };
    </script>
</body>

</html>
