* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010112;
  color: #d4d6f1;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
}

.container {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.progress-bar {
  position: fixed;
  height: 5px;
  width: 100%;
  background-color: #0CF574;
}

.page {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.full {
  height: 100vh;
}

#header {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header .title {
  color: hsl(191, 52%, 96%);
  font-size: 6rem;
  font-weight: bold;
  /* text-indent: .4rem; */
}

#header .subtitle {
  color: hsl(190, 5%, 55%);
  font-size: 2.4rem;
  font-weight: bold;
  text-indent: .28rem;
}

#header .subtitle a {
  color: hsl(191, 52%, 96%);
  text-decoration: none;
}

#header .subtitle a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .page {
    padding: 5px;
  }
  #header .title {
    transition: font-size .15s ease-out;
    font-size: 5.5rem;
  }
  #header .subtitle {
    transition: text-indent .15s ease-out;
    text-indent: 0;
  }
}